/* 公共样式 */
/* @import url('http://at.alicdn.com/t/font_1437979_pof5lenrn1.css'); */
@import url('../iconfont/iconfont.css');
@import url("./ui.css");

.iconfont {
	font-size: 12px;
	cursor: default;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	scrollbar-arrow-color: #F8F8F8;
	/**/
	/*三角箭头的颜色*/
	scrollbar-face-color: #EBEBED;
	/**/
	/*立体滚动条的颜色*/
	scrollbar-3dlight-color: #F8F8F8;
	/**/
	/*立体滚动条亮边的颜色*/
	scrollbar-highlight-color: #F8F8F8;
	/**/
	/*滚动条空白部分的颜色*/
	scrollbar-shadow-color: #F8F8F8;
	/**/
	/*立体滚动条阴影的颜色*/
	scrollbar-track-color: #F8F8F8;
	/**/
	/*立体滚动条背景颜色*/
	scrollbar-base-color: #f8f8f8;
	/**/
	/*滚动条的基本颜色*/
}

/*滚动条整体样式*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	/* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
	background: #EBEBED;
}

::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
	border-radius: 3px;
	background: #F8F8F8;
}
::-webkit-scrollbar-thumb:vertical:active,::-webkit-scrollbar-thumb:horizontal:active{
	background: #757575;
}

::-webkit-scrollbar-thumb:vertical:hover,::-webkit-scrollbar-thumb:horizontal:hover{
	background: #757575;
}
body {
	font-family: " Source Han Sans CN,Microsoft YaHei, Arial, Helvetica, Sans-serif, Verdana, Tahoma,Noto Sans CJK SC,";
	font-size: 12px;
    background-color: #ffffff !important;
}

ul {
	list-style-type: none;
}

.lf {
	float: left;
}

.rt {
	float: right;
}

.red {
	color: red;
	font-style: normal;
}

body .edu-hide {
	display: none;
}

option {
	font-weight: 400 !important;
}
table{border-color: #E5E5E5;}

html,body{
  height: 100%;
  background-color: #EFF3F6;
}
.edu-container{
  width: 100%;
  height: 100%;
  display: flex;
}
.edu-sideMenu::-webkit-scrollbar { width: 0 !important }
.edu-sideMenu{ -ms-overflow-style: none; }
.edu-sideMenu{ overflow: -moz-scrollbars-none; }
.edu-aside{
  width: 208px;
  flex-shrink: 0;
  background: #fff;
  position: relative;
  box-shadow:3px 0px 16px 0px rgba(172,172,172,0.33);
  display: flex;
  flex-direction: column;
  height: 100%;
}
.edu-sideMenu{
  flex-grow: 1;
  overflow: auto;
	height: 700px;
}
.edu-header{
  height: 48px;
  background-color: #fff;
  line-height: 48px;
}
.edu-header.edu-navBar>div{height: 100%;}
.edu-logo{
  display: flex;
  align-items: center;
	padding: 2px 16px;
}
.edu-logo>div{
  background-image: url('../images/logo.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.edu-main{
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #EFF3F6;
}
.edu-center{
  height: calc(100% - 54px);
  background: url('../images/indexBG.jpg') no-repeat;
}
.edu-center iframe{
  height: 99%;
  width: 100%;
}
.edu-center>div{
  height: 100%;
  box-sizing: border-box;
}

/*--- 侧边菜单 -----------------------------*/
.accordion {
  width: 100%;
  max-width: 360px;
  margin: 0px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
 cursor: pointer;
 display: block;
 padding-left: 62px;
 color: #5F727F;
 font-size: 14px;
 height: 40px;
 line-height: 40px;
 font-weight: 400;
 position: relative;
 -webkit-transition: all 0.3s ease;
 -o-transition: all 0.3s ease;
 transition: all 0.3s ease;
}
.link.link-disable{
	color: #C8C8C8;
}

.accordion li:last-child .link {
 border-bottom: 0;
}

.accordion li i {
 position: absolute;
 left: 30px;
 font-size: 18px;
 -webkit-transition: all 0.3s ease;
 -o-transition: all 0.3s ease;
 transition: all 0.3s ease;
}

.accordion li i.icon-xiala {
 right: 12px;
 left: auto;
 font-size: 16px;
}

.accordion>li.open>.link {
 color: #fff;
 background: #3B82FF;
}
.accordion>li>.link {
 color: #94A4AE;
}

.accordion li.open>div>i.icon-xiala {
 -webkit-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);
}

/*--- Submenu -----------------------------*/
.submenu {
  display: none;
  background: #F4F6F7;
  font-size: 14px;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #5F727F;
  padding: 12px;
  padding-left: 60px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-left: 5px solid transparent;
}
.submenu a .dot{
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #5F727F;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
}

.submenu a:hover,.submenu a.active{
  background:linear-gradient(90deg,rgba(59,130,255,0.6) 0%,rgba(59,130,255,0) 100%);
  border-left-color: #3B82FF;
  color: #3B82FF;
}

/*-- 导航栏 --*/
.edu-navBar{
  /* display: flex; */
  /* justify-content: space-between; */
  padding-right: 25px;
  box-shadow:0px 1px 3px 0px rgba(204,204,204,0.5);
  position: relative;
}
.edu-navBar .breadcrumbs{
  display: flex;
  margin-left: 24px;
  font-size: 14px;
  color: #272727;
  width: calc(100% - 260px);
  overflow-x: hidden;
  float: left;
  position: absolute;
}

.edu-navBar .breadcrumbs>ul{
  display: flex;
}
.edu-navBar .breadcrumbs::-webkit-scrollbar { height: 0 !important }
.edu-navBar .breadcrumbs{ -ms-overflow-style: none; }
.edu-navBar .breadcrumbs{ overflow: -moz-scrollbars-none; }
.edu-navBar .breadcrumbs>ul li{
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.breadcrumbs a{
  color: #272727;
  text-decoration: none;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  cursor: default;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.breadcrumbs a:hover{
  color: #3B82FF;
}
.breadcrumbs a.current{
  background: #EBEBED;
  padding: 0 10px;
  border-radius: 14px;
  color: #3B82FF;
}
.breadcrumbs a>i{
  margin-left: 8px;
  font-size: 14px;
}
.breadcrumbs a.current>i{
  color: #3B82FF;
}
.breadcrumbs>ul li>b{
  display: inline-block;
  width: 1px;
  height: 15px;
  background: #DADADA;
  margin:0 15px;
}
.navBar-right{float: right;}
.navBar-right>div{
  margin-left: 24px;
  text-align: center;
  height: 48px;
  float: left;
  position: relative;
  user-select: none;
  list-style: none;
}
.edu-user>img{
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin: 8px 0;
}
.edu-user:hover>.edu-menu{
  display: block;
}
.edu-user>.edu-menu{
  position: absolute;
  width:140px;
  background:rgba(255,255,255,1);
  box-shadow:0px 1px 7px 0px rgba(0,0,0,0.1);
  border-radius:2px;
  top: 48px;
  right: 0px;
  color: #272727;
  font-size: 14px;
  display: none;
}
.edu-user>.edu-menu>.userInfo{
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #F1F1F1;
}
.edu-menu>.userInfo>div{
  line-height: 21px;
  text-align: left;
  margin-left: 13px;
  font-size: 16px;
}
.edu-user>.edu-menu img{
  width: 56px;
  height: 56px;
}
.edu-user .user-settings{
  margin: 8px 0;
}
.edu-user .user-settings>li{
  text-align: left;
  cursor: pointer;
  line-height: 18px;
  padding:8px 0 8px 16px;
}
.edu-user .user-settings>li:hover{
  background: #DEDEDE;
}
.edu-user .user-settings>li i{
  font-size: 14px;
}
.icon-tab-left{background: url(../images/left.png)no-repeat center;width: 32px;height: 32px;display: inline-block;vertical-align: middle;background-size: 32px 32px;cursor: pointer;}
.icon-tab-right{background: url(../images/right.png)no-repeat center;width: 32px;height: 32px;display: inline-block;vertical-align: middle;background-size: 32px 32px;cursor: pointer;}
.icon-alarm{background: url(../images/alarm.png)no-repeat center;width: 34px;height: 34px;background-size: 34px 34px;display: inline-block;vertical-align: middle;cursor: pointer;}
.theme{width: 14px;height: 14px;border:1px solid rgba(200,200,200,1);border-radius:2px;display: inline-block;vertical-align: middle;}
.theme.theme-blue{background-color: #3B82FF;margin-left: 12px;}
.theme.theme-black{background-color: #454959;margin-left: 8px;}
.icon-setting{background: url(../images/setting.png)no-repeat center;background-size: 14px 14px;width: 14px;height: 14px;display: inline-block;}
.el-button {padding: 5px 13px !important;line-height: unset !important;}
/* 多选下拉框样式 */
.pick_box{
	position: relative;
}

.pick_box li{
	margin-top: 0;
}
.check_box {
	position: absolute;
	width: 100%;
	display: none;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 3px #ccc;
	z-index: 999;
	background: #fff;
}
.check_box ul{
	padding-top: 10px;
	max-height: 200px;
	overflow: hidden;
	overflow-y: scroll;
}
.check_box ul::-webkit-scrollbar{
	width: 5px;
	/* display: none; */
}

.check_box li {
	padding: 8px 10px;
	text-align: left;
}

.check_box li label {
	margin: 0;
}

.check_box li:hover {
	background: #F5F7FA;
	color: #3B82FF;
}
.hint{
	width: 200px;
	height: 200px;
	display: none;
	background: #757575;
	position: absolute;
	top: 40px;
	padding: 15px;
	color: #fff;
	z-index: 10;
}
.hint>p{color: #fff !important;}
.pick_input {
	padding-right: 20px;
	background: url(../images/arrow.png) no-repeat 94.75% center;
	-webkit-background-size: contain;
	background-size: 15px;
	background-color: #fff;
}
.checkbox span {
	margin-right: 10px;
}
.check_footer {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid #ccc;
}

.check_footer .link {
	margin-left: 10px;
}
.out,.in {
	position: absolute;
	width: 0;
	height: 0px;
}
.out{
        border:10px solid transparent;
        border-bottom-color:#757575;  /*这里的颜色一定要跟上面demo边框颜色一样*/
        top:-20px;
        left:42%;
}
/* 其他 */
.group-btns{
	border: 1px solid #E5E5E5;
	height: 32px;
	box-sizing: border-box;
}
.arrow{
	background: url(../../images/arrow.png) no-repeat 94.75% center;
	background-size: 15px;
}
.iconfont.icon-warning>hint{
	left: 299px;
	margin-left: -100px;
}
.layui-input-inline{
	position: relative;
}
.layui-input-inline .iconfont.icon-warning{
	position: absolute;
	right: -23px;
	top: 9px;
}

/* 多级菜单展开 */

.expand-item{text-align: center;}
.ex-item{background-color: #EFF3F6;display: none;}
.expand-item>.iconfont.icon-xiala{font-size: 16px;}
.ex-item iframe{width: 100%;padding:0 40px 30px 150px;min-height: 330px;}
.child-table .layui-table-body.layui-table-main::-webkit-scrollbar { width: 0 !important }
.child-table .layui-table-body.layui-table-main{ -ms-overflow-style: none; }
.child-table .layui-table-body.layui-table-main{ overflow: -moz-scrollbars-none; }
.child-table .layui-table-cell .layui-form-checkbox[lay-skin=primary]{margin: 5px 0;}
.role-icon{
	background: url(../../images/role.png)no-repeat center;
	width: 14px;
	height: 14px;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.layui-table tbody tr.ex-item:hover,.ex-item.layui-table-hover{
  background-color: #EFF3F6 !important;
}
i.show{transform: rotate(90deg);}
.expand-item.active-arrow{
	transform:rotate(-180deg);
	transition:all .2s ease-in .1s;
}
.expand-item .layui-colla-icon{font-size: 12px;}

/************************************************************** 公共table样式 ********************************************************************/
.dialog-item label{
	width: 72px;
	margin-right: 7px;
	display: inline-block;
	text-align: right;
	position: relative;
	vertical-align: middle;
	white-space: normal;
	position: relative;
}
select.opt-part-l,input.opt-part-l{
	width: 124px !important;
}
button.opt-part-r{
	vertical-align: top;
	margin-left: -5px;
	color: #3B82FF !important;
}
label>i.red{
	position: absolute;
	top: -2px;
	right: -8px;
}
table.common-table{
	width: 100%;
	text-align: center;
}
table.common-table tr td>textarea{
	display: inline-block;
	vertical-align: middle;
}
table.common-table tr{
	text-align: center;
	white-space: nowrap;

}
table.common-table tr td{
	text-align: center;
	padding-bottom: 12px;
	position: relative;
}
table.common-table tr td:nth-child(odd){
	text-align: right;
	padding-right: 30px;
}
table.common-table tr td:nth-child(even){
	text-align: left;
	padding-left: 30px;
}
.edu-btn.reset-edu-btn{
	width: 112px;
	padding: 0;
}
.edu-btn:disabled{
	/*background-color: #C8C8C8;*/
	border-color: #C8C8C8;
	cursor: not-allowed;
}
.center-td>td{
	text-align: center !important;
}
.common-table.common-single td{
	text-align: center !important;
}
.common-table label{
	width: 100px;
	text-align: right;
	display: inline-block;
	margin-right: 10px;
	white-space: normal;
	vertical-align: middle;
	position: relative;
}
.common-table label.checkbox.checkbox-xs{
	width: auto;
}
.common-table label.checkbox.checkbox-xs i{
	vertical-align: text-bottom;
}
.common-table i{
	position: absolute;
	top: 0;
	right: -7px;
}
.common-table tr td font{
	position: absolute;
	white-space: normal;
	text-align: left;
}
/************************************************************************* 双td table样式 **************************************************************/
.common-table-second{
	width: 100%;
}
.common-table-second tr td{
	text-align: left;
	padding-bottom: 16px;
	position: relative;
}
.common-table-second tr td.co-text-td{
	width: 73px;
	text-align: right;
}
.common-table-second tr td>input,.common-table-second tr td>select{
	margin-left: 10px;
}
.common-table-second td.co-text-td>font{
	position: absolute;
	right: -7px;
}
/* 其他 */
.visible-bg{background-color: rgba(0,0,0,0);}
/* 选择文件 */
.file-text-btn{
	position: relative;
}
.file-text-btn>input{
	opacity: 0;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.iconfont.icon-warning>.hint{
    left: -43px;
    top:25px;
    height: auto;
    width: 100px;
}
/*********************************** 侧边栏 *****************************************/
.lsm-expand-btn{
    position: absolute;
    height: 60px;
    left: 208px;
    top: 50%;
    margin-top: -35px;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    box-shadow: 2px 2px 2px rgba(95, 114, 127, .3);
}
.lsm-expand-btn .lsm-mini-btn i{
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: -15px;
    transform: rotate(-90deg);
    transition: all 0.2s ease-in-out;
    background-image: url(../images/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    cursor: pointer;
}
.edu-bg-balck .lsm-expand-btn{
    background-color: #454959;
}
.edu-bg-balck .lsm-expand-btn i{
    background-image: url(../images/arrow_dis.png);
}
.edu-aside:hover .lsm-expand-btn{
    visibility: visible;
    opacity: 1;
}
.lsm-mini-btn{height: 60px;width: 30px;position: relative;}
.lsm-mini-btn input[type="checkbox"]{display: none;}
.lsm-mini-btn input:checked+i {transform: rotate(90deg) !important;}
.fold-submenu{
    position: absolute;
    left: 61px;
    top: 0;
    border-radius: 3px;
    width: 208px;
    z-index: 999999;
}
.fold-submenu .open,.fold-submenu .open .submenu,.submenu.fold-submenu.open>.submenu{
    border-radius: 0 0 3px 3px;
}
/*********************************** 侧边栏END *****************************************/
